.footer {
    background-color: rgb(223, 200, 186);
    background-position: absolute;
    display: inline;
    justify-content: center;
    padding: 70px;
    height: 100vh;
  }
  
  .temblor__lento {
    display: center;
  }